<% include ../partials/header %>

<div class="container">
	<h1>Add new Group</h1>
	
	<form action="/group" method="post">
		<div class="form__group">
			<label for="name">Group Name</label>
			<input type="text" name="name" class="form-control">
		</div>

		<div class="form__group">
			<label for="colour">Colour</label>
			<input type="color" name="colour" class="form-control">
		</div>

		<button class="btn btn-primary">Submit</button>
	</form>

</div>

<% include ../partials/footer %>