
.form{
	&__group{
		display:flex;
		flex-direction:column;
		margin:2rem 0rem;

		label{
			text-transform: uppercase;
			font-size:1.4rem;
			color:$grey;
		}
	}

	&__sub{
		margin-top:4rem;
		color:$primary;
	}

	&__groups{
		display:grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 4rem;
	}

	&__text{
		border: none;
		border-bottom: 0.1rem solid $grey;
		padding:0.5rem;

		font-size:1.6rem;
		font-family: $font;

		background-color: transparent;
	}
}

.form-inline{
	display:inline-block;
}

input[type="date"]{
	border: none;

	padding:0.5rem;
	padding-left:0rem;

	font-size:1.6rem;
	font-family: $font;
	background-color: transparent;
}

input[type="color"]{
	border:none;
	background-color: transparent;

	width:4rem;
	height:4rem;
}

textarea{
	resize:none;
	border: 0.1rem solid $grey;
	font-family:$font;
	background-color: transparent;
}

.submit{
	margin-top:2rem;
}


.option{
	display: flex;
	width:100%;
	justify-content: space-between;
	margin:1rem 0rem;

	input[type="checkbox"], input[type="radio"]{
		display: none;

		&:checked + .checkbox .checkbox__tick{
			display: inline;
		}

		&:checked + .radio::after{
			display: inline;
		}
	}
}

.checkbox{
	@include choice;	

	
	&__tick{
		display:none;
		color:$primary;

		font-size:1rem;
	}
}

.radio{
	@include choice;
	border-radius: 3rem;
	position: relative;

	&::after{
		content:"";
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);

		background-color: $primary;
		height:8px;
		width: 8px;

		border-radius: 50%;

		display: none;
	}
}
