
.groups{
	display: flex;
	flex-direction: row;
	align-items: center;

	flex-wrap: wrap;

	margin-bottom: -1rem;

	&__header{
		background-color: #5353DD;
		color:$white;
	}
}


.group{
	padding:0.8rem 4rem;
	border-radius: 2rem;

	margin-right:2rem;
	margin-bottom: 1rem;
	position: relative;

	color:$dark-grey;

	$this:&;

	&__name{
		display: inline;
	}

	&__options{
		position: absolute;

		left:50%;
		top:50%;
		transform: translate(-50%, -50%);

		display: none;
		align-items: center;
	}

	&__option{
		display: inline-block;
		color:inherit;

		margin:0rem 0.5rem;
	}

	&:hover{
		#{$this}__options{
			display: flex;
		}
		#{$this}__name{
			visibility: hidden;
		}
	}

}