
.people{
	&__header{
		background-color: #8748DB;
		color:$white;
	}

	&__other{
		display:none;
	}

	@include tablet{
		&__other{
			display:table-cell;
		}
	}
}

.person{
	vertical-align: top;

	&:nth-child(2n+1){
		background-color: lighten(#8748DB,40%);
	}

	$this:&;
	&--open{
		#{$this}__dropdown{
			display:block;
		}

		#{$this}__down i{
			transform:rotate(180deg);
		}
	}

	&__action{
		&::after{
			content: " | "
		}
	}

	&__actions *{
		visibility: hidden;
	}

	&__dropdown{
		display:none;
		margin-top: 3rem;
	}

	&__category{
		text-transform: uppercase;
		font-size:1.4rem;
		color:$grey;
	}

	&__attr{
		margin-bottom: 1rem;
	}

	&:hover{
		.person__actions * {
			visibility: visible;
		}
	}

	&__down{
		color:$primary;

		i{
			transition: transform 0.3s;
		}
	}

	@include tablet{
		&__down{
			display:none;
		}
	}
	
}


.table{
	width:100%;
	text-align: left;

	border-collapse: collapse;
}

td{
	padding:3rem 1.5rem;
}


th{
	padding:1rem;
	font-weight: normal;
	font-size:2.2rem;
}