

.btn{
	background-color: $primary;
	color:white;

	display: inline-block;

	border-radius: 0.5rem;
	box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.12), 0 0.1rem 0.2rem rgba(0,0,0,0.24);

	padding:1rem 2rem;

	text-transform: uppercase;

	font-size:1.4rem;

	&--light{
		background: white;
		color:$primary;
	}

	&--secondary{
		background-color: $secondary;
	}

	&--link{
		background-color: transparent;
		color:$primary;
		padding:0;
		box-shadow: none;
	}
}

.home-btn{
	margin-top:2rem;
	margin-left: 2rem;
}