
.form{
	&__group{
		display:flex;
		flex-direction:column;
		margin:2rem 0rem;

		label{
			text-transform: uppercase;
			font-size:1.4rem;
			color:$grey;
		}
	}

	&__sub{
		margin-top:4rem;
		color:$primary;
	}

	&__groups{
		display:grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 4rem;
	}
}

.form-inline{
	display:inline-block;
}

input[type="text"]{
	border: none;
	border-bottom: 0.1rem solid $grey;
	padding:0.5rem;

	font-size:1.6rem;
	font-family: $font;
}

input[type="date"]{
	border: none;

	padding:0.5rem;
	padding-left:0rem;

	font-size:1.6rem;
	font-family: $font;
}

input[type="color"]{
	border:none;
	background-color: transparent;

	width:4rem;
	height:4rem;
}

textarea{
	resize:none;
	border: 0.1rem solid $grey;
	font-family:$font;
}

.submit{
	margin-top:2rem;
}


.option{
	display: flex;
	width:100%;
	justify-content: space-between;
	margin:1rem 0rem;

	input{
		display: none;

		&:checked + .checkbox .checkbox__tick{
			display: inline;
		}

		&:checked + .radio .radio__tick{
			display: inline;
		}
	}
}

.checkbox{
	width:2rem;
	height:2rem;

	display: inline-flex;
	align-items:center;
	justify-content: center;

	border:0.2rem solid $primary;

	&__tick{
		display:none;
		color:$primary;

		font-size:1rem;
	}
}

.radio{
	width:2rem;
	height:2rem;

	display: inline-flex;
	align-items:center;
	justify-content: center;

	border-radius: 3rem;
	border:0.2rem solid $primary;

	&__tick{
		display:none;
		color:$primary;

		font-size:1rem;
	}
}
