
.dialog{
	position: absolute;

	top:2rem;

	border:none;
	padding:0;

	width:40%;

	z-index:3;

	&__header{
		background-color: $primary;
		color:white;
		padding:0.5rem 1.5rem;

		display:flex;
		justify-content: space-between;
		align-items: center;
	}

	&__close{
		font-size:2rem;
		color:white;
	}

	&__content{
		padding:0.5rem 1.5rem;

		color:$grey;
	}

	&__options{
		display:flex;
		justify-content: flex-end;
		padding:2rem 1.5rem;
	}

	&__btn{
		margin-right: 1.5rem;
	}
}