

.nav{
	background-color: #fff;
	color:$grey;

	width:30rem;
	position: absolute;
	left:0;
	top:0;
	min-height: 100vh;

	padding:4rem 0rem;

	&__title{
		padding:0rem 2rem;
		font-size:1.4rem;
		font-weight: normal;
		text-transform: uppercase;;
	}
	
}

.logo{
	display: inline-block;
	color:$primary;

	margin-bottom: 5rem;
	margin-left:2rem;
}


.filter{
	padding:0.8rem 2rem;

	&:hover{
		background-color: #fafafa;
	}


	&__header{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title{
		font-weight: normal;
		font-size:1.6rem;
	}

	&__options{
		display: none;
		color:$grey;
	}

	&__groups{
		margin-bottom:4rem;
	}

	&__groups::after{
		height:0.2rem;
		width:50%;
		content:"";
		background-color: #efefef;

		position: absolute;
		left:25%;
	}

	&__btns{
		margin-top:3rem;
		text-align:center;
	}

	$this: &;

	&--open{
		background-color: #fafafa;
		#{$this}__options{
			display:block;
		}
	}
}
