.btn-link{
	padding:0;
}

.groups{
	margin:20px 0px;
}

.group{
	border-radius: 5px;
	padding:5px;
	display: inline-block;

	margin-right:5px;

	display: inline-flex;
	flex-direction: row;
	align-items: center;
}

.group__icon{
	color:inherit;
	margin:0px 3px;
}

.group__icon:hover{
	color:inherit;
}